$white: #FFFFFF;
$darkblue:  #212143;

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: $white;
    position: sticky;
}
.icon{
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}

