/* index.css or App.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
:root{
    --top-navbar-height: 3rem;
    --normal-bg-color: #F5F5F5;
}

.contents{
    display: flex;
}

.contents .left-section{
    width: 250px;
    height: 100vh;
}
.contents .right-section{
    width: calc(100% - 198px);
    height: calc(100vh - var(--top-navbar-height));
    background-color: #F5F5F5;
    overflow: auto;
}